/deep
/bin
.vscode
/dist
/example/docker-compose/**/deep-data/
/example/docker-compose/**/gcs-data/
.DS_Store
/deepdb/encoding/benchmark_block
/cmd/deep-serverless/vendor/
/pkg/traceql/y.output
private-key.key
/vendor
/pkg/.patched-proto
y.output
