site_name: Deep
site_url: https://intergral.github.com/deep/

repo_name: Deep
repo_url: https://github.com/intergral/deep
edit_uri: edit/master/docs/docs

site_dir: _site

copyright: Intergral GmbH 2023

theme:
  logo: images/logo/icon.png
  favicon: images/logo/icon.svg
  name: material
  features:
    - content.code.copy
    - content.action.edit

extra_css:
  - styles/styles.css

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - markdown_include.include:
      base_path: docs

plugins:
  - glightbox:
  - mkdocs_gitlinks:
      show_docs: true
